<html>
<head>
    <title>Happy Birthday</title>
    <style type="text/css">
        div {
            font-family: Verdana, Arial, Sans-Serif;
            font-size: 10px;
        }

        #mail-message {
            padding: 10px;
        }

        #mail-footer {
            padding: 10px;
        }
    </style>
</head>
<body>
    <div id="mail-message">
        @RenderBody()
    </div>
    <div id="mail-footer">
        Best Regards,<br />
      <p><img src="http://7-themes.com/data_images/out/16/6821695-futurama.jpg">Sent by MvcBot 1.0v</p>
    </div>
</body>
</html>