@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Way drive <br />
     1337   <br />
    <abbr title="Phone">P:</abbr>
</address>

<address>
    <strong>Support:</strong>   <a href="kosevamaria@gmail.com">kosevamaria@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="maria_2koseva@yahoo.com">kosevamaria@gmail.com</a>
</address>